*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
}
.container{
    background-image: url(https://images.pexels.com/photos/31732877/pexels-photo-31732877/free-photo-of-colorful-architecture-in-a-modern-urban-setting.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
form{
    width: 400px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background:none;
    backdrop-filter: blur(10px);         
    box-shadow: 0 4px 62px rgba(0,0,0,0.15);
}
h1{
    text-align: center;
    color: #fff;
}
p{
    display: flex;
    gap: 0.2rem;
    align-items: center;
    color: #fff;
    margin-bottom: -15px;
}
span{
    color: #fa0303;
}
input{
    background-color: #eceaea;
    padding: 0.3rem;
    font-size: 16px;
    border-radius: 0.5rem;
}
.register{
    padding: 1rem 0;
    border-top: 1px solid #d3d3d3;
}
button{
    width: 100%;
    padding: 0.5rem;
    background-color: #3e4524;
    color: #fff;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
}
.custom-alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.alert-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 300px;
    width: 90%;
}

#alertMessage {
    margin: 0 0 15px 0;
    font-size: 18px;
    color: #333;
}

#closeAlert {
    background: #3e4524; /* Blue button */
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#closeAlert:hover {
    background: #3e4534; /* Darker blue on hover */
}